<p>
  {{story.body}}
</p>
<br />
<hr />

<a href='/posts/new'><button class="btn btn-default">Add to the story!</button></a>

<br />
<br />



<!-- display all other comments for the period by upvotes -->
{{#if allPosts.length }}

<div class='container'>  {{#each allPosts as |post| }}
    <div class='row'>
    <div class='col col-xs-1'>
      <form action='posts/upvote' method='get'>
        <input type='text' name='id' value="{{post._id}}" hidden='true' />
        <button type="submit" class="btn-sm btn-default">{{post.votes}} Updoots</button>
      </form>
    </div>
    <div class='col col-xs-11 offset-xs-1'>{{post.body}} </div>
    </div>
    <br />
  {{/each }}</div>
  {{else }}
  <p class="text-danger">No posts</p>
{{/if }}
